#live-chat{
    padding: 1.2rem;
    position: fixed;
    bottom: 9rem;
    right: 1.6rem;
    display: flex;
    box-shadow: rgb(0 0 0 / 5%) 0 3rem 2rem 0, rgb(0 0 0 / 5%) 0 0 2rem 0;
    box-sizing: border-box;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    display: flex;
    cursor: pointer;
    z-index: 999;
}

footer{
    width: 100%;
    min-height: 50vh;
    background-color: #F8FAFB;
    color: #333;
    float: left;
    z-index: 10;
}

/* TODO: Change img 
#live-chat :hover{
    
} 
*/

#footer-area{
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
}

.flex-container-main {
    width: 100%;
    padding: 0;
    display: block;
    justify-content: space-between;
}
.flex-container-derivlogo {
    max-width: 40%;
    padding: 2.5rem 2rem 2.5rem 0;
    float: left;
}
.flex-container-socials {
    max-width: 60%;
    padding: 2.5rem 3rem 2rem 0;
    float: right;
}
.flex-container-socials img{
    max-width: 2.6rem;
    max-height: 2.6rem;
}
.img-logo{
    max-width: 10rem;
}
#disclaimer{
    width: 100%;
    margin-bottom: 4em;
    padding-bottom: 1em;
    border-top: 1px solid #ccc;
    line-height: 1.5em;
    float: left;
}
#disclaimer p, #disclaimer li{
    font-size: 0.85em;
    font-weight: 300;
    padding: 0.8em 0;
}
#disclaimer ul{
    background-color: #eff2f5;
    padding-left: 2rem;
    list-style-type: none;
    border-left: #f8a2a8 solid 5px;
}

#fixed-p{
    width: 100%;
    height: fit-content;
    background-color: #f9fafc;
    background-size: cover;
    box-shadow: inset 0 1px 0 0 #e5e5e5;
    bottom: 0px;
    font-size: 0.85em;
    font-weight: 300;
    line-height: 1.5em;
    align-items: center;
    justify-content: center;
    display: flex;
}

#fixed-p-content{
    max-width: 1000px;
    margin: auto;
}

.h-line-100vw{
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-top: 2rem;
    position: absolute;
    left: 0;
}

#p-ps{
    padding: 1.2em;
    bottom: 0;
    
}

/* SETTINGS FOR RESOLUTIONS UNDER 1080PX */
@media only screen and (max-width: 1080px) {
    /*
    #disclaimer p, #disclaimer li{
        font-size: 0.75em;
        padding: 0.6em 0;
    }
    #disclaimer{
        line-height: 1.3em;
    }
    #fixed-p{
        font-size: 0.8em;
    }
    */
}

/* SETTING FOR RESOLUTIONS UNDER 780PX */
@media only screen and (max-width: 780px) {
    #disclaimer p, #disclaimer li{
        padding: 0.5em 0;
        font-size: 0.85em;
    }
    #disclaimer{
        line-height: 1.3em;
    }
    #fixed-p{
        font-size: 0.8em;
    }
}

/* SETTING FOR RESOLUTIONS UNDER 600PX */
@media only screen and (max-width: 600px) {
    footer{
        padding-top: .5rem;
    }
    #footer-area{
        padding: .5rem .5rem;
    }
    #disclaimer p, #disclaimer li{
        padding: 0.5em 0;
        font-size: 0.8em;
    }
    #disclaimer{
        line-height: 1.1em;
    }
    #fixed-p{
        font-size: 0.75em;
    }
    .flex-container-derivlogo {
        max-width: 70%;
        padding: 1rem .8rem .8rem 0;
        float: left;
    }
    .flex-container-socials {
        max-width: 70%;
        padding: .8rem .8rem .8rem 0;
        float: left;
    }
    .flex-container-socials img{
        max-width: 1.8rem;
    }
    #disclaimer ul{
        padding-left: 1rem;
    }
}

/* SETTING FOR RESOLUTIONS UNDER 600PX */
@media only screen and (max-width: 450px) {
    #disclaimer p, #disclaimer li{
        padding: 0.4em 0;
        font-size: 0.75em;
    }
    #disclaimer{
        line-height: 1em;
    }
    #fixed-p{
        font-size: 0.7em;
    }
}