#section-3{
    width: 100%;
    min-height: 50vh;
    background-color: #ffc;
    margin: auto;
    color: #333;
    float: left;
    z-index: 10;
}

#section-3 h2{
    margin: 3rem 5vw;
}
#section-3 h3{
    float: left;
    margin: 2rem 5vw 0rem 5vw;
}
