#section-1{
    width: 100%;
    min-height: 50vh;
    background-color: #cff;
    margin: auto;
    color: #333;
    float: left;
}

.grid-2, .grid-3{
    width: 100%;
    color: #333;
}

.grid-2-left, .grid-2-right{
    width: 50%;
    min-height: 200px;
    border-bottom: 1px solid #ccc;
    float: left;
}

.grid-2-left h3, .grid-2-right h3{
    margin: 2vh 3vw;
}

.grid-2-left{
    background-color: #ddd;
}

.grid-2-right{
    background-color: #cec;
}

.grid-2 img{
    width: 60%;
    margin: 5% 20% 0;
}

.grid-2 figcaption{
    width: 80%;
    margin: 5% 10%;
}

.grid-3 img{ width: 15%; }

.grid-3 h4{ font-size: 1.1rem; }

.grid-3 p{ font-size: 0.9rem; }

.grid-3-left, .grid-3-center, .grid-3-right{
    width: 33.3%;
    min-height: 300px;
    float: left;
}

.grid-3 h4, .grid-3 p, .grid-3 img{
    margin: 2vh 2vw;
}

.grid-3-left{
    background-color: #eef;
}

.grid-3-center{
    background-color: #ddf;
}

.grid-3-right{
    background-color: #ccf;
}

.cta-area{
    width: 100%;
    min-width: 320px;
    margin: 3vh auto;
    text-align: center;
    float: left;
    background-color: #fdd;
}

.cta-btn{
    background-color: #ff444f;
    padding: 1rem; 
    border: 0; 
    border-radius: .6rem; 
    color: #fff; 
    font-size: 0.9rem; 
    line-height: 1.4rem; 
    font-weight: 700;
    cursor: pointer;
}

@media only screen and (max-width: 880px) {
    .grid-3-left, .grid-3-center, .grid-3-right{
        width: 100%;
        margin: auto;
    }
    .grid-3 h4{
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .grid-3 img{ width: 10%; }
    .grid-3 h4{ font-size: 1.2rem; }
    .grid-3 p{ font-size: 1rem; }
    .grid-3 h4, .grid-3 p, .grid-3 img{ margin: 2vh 4vw; }
}

@media only screen and (max-width: 550px) {
    .grid-2-left, .grid-2-right{
        width: 100%;
    }

    .grid-3 img{ width: 10%; }

    .grid-3 h4{ font-size: 1.1rem; }

    .grid-3 p{ font-size: 0.9rem; }
}