* { margin: 0; padding: 0; }

html { scroll-behavior: smooth; }

body{
    width: 100vw;
    height: 100vh;
    font-family: "IBM Plex Sans", sans-serif;
    z-index: 1;
}

a{
    color: inherit;
    font-weight: 550;
    text-decoration: none;
}

a:hover{
    color: #ff444f;
    font-weight: 550;
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 3.5rem;
    line-height: 1.5rem;
}

h2{
    text-align: center;
    font-size: 2.6rem;
    line-height: 1.5em;
}

/* Reviwed */

/* h3{
    padding: 10vh 0 0 0;
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
}

h4{
    padding: 1.5vh 0;
    text-align: left;
    font-size: 1.4em;
    font-weight: 550;
}

h5{
    padding: 3vh 0 2vh 0;
    font-size: 1.4em;
    text-align: left;
}

@media only screen and (max-width: 1080px) {
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2.4em; 
    }
    h3{
        font-size: 1.75em; 
    }
    h4{
        padding: .8vh 0;
        font-size: 1.1em;
    }
    h5{
        font-size: 1.2em; 
    }
}

@media only screen and (max-width: 780px) {
    h1{
        font-size: 2.4em;
    }
    h2{
        font-size: 2em; 
    }
    h3{
        font-size: 1.5em; 
    }
    h5{
        font-size: 1.1em; 
    }
}*/

/* SETTING FOR RESOLUTIONS UNDER 600PX */
/* @media only screen and (max-width: 600px) {
    h1{
        font-size: 2.2em; 
    }
    h2{
        padding: 10vh 0 0 0;
        font-size: 1.8em; 
    }
    h3{
        font-size: 1.3em; 
    }
    h5{
        font-size: 1em; 
    }
} */

/* SETTING FOR RESOLUTIONS UNDER 480PX */
/* @media only screen and (max-width: 480px) {
    h1{
        font-size: 1.8em;
        padding: 0px 15px;
    }
}  */