/* ==== TOP BAR STYLES ==== */
    #top{
        width: 100vw;
        background-color: #000;
        margin: auto;
        float: left;
        z-index: 10;
        color: #F8FAFB;
    }

    #top-bar{
        width: 100vw;
        height: 70px;
        background-color: #000;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }

    #logo-top-bar-area{
        width: 49%;
        margin: 1.5rem 0;
        text-align: right;
        float: left;
    }

    #logo-top-bar-area img{
        width: 10rem;
        padding-right: .6rem;
        border-right: .2rem solid #F8FAFB;
    }

    #get-trading-top-bar-area{
        width: 49%;
        margin: 1.5rem 0 0 0;
        text-align: left;
        float: left;
    }

    #get-trading-top-bar-area img{
        width: 9rem;
        margin-top: .3rem;
        margin-left: .6rem;
    }
/* ==== END OF TOP BAR STYLES ==== */

/* ==== HERO-SIGNUP STYLES: ==== */
    #content{
        width: 996px;
        margin: 0 auto;
    }

    #header{
        width: 100%;
        background-color: #ed6;
        margin: 70px auto 0;
        min-height: 20vw;
        padding-bottom: 25px;
    }

    #page-title{
        width: 100%;
        padding-top: 60px;
        margin: auto;
        text-align: center;
    }

    #page-title h1{
        margin: 8vh auto 6vh;
    }

    #text-header h2, #text-header p{
        margin: 0 5vw;
        color: #333;
    }

    #text-header p{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    @media only screen and (max-width: 1080px) {
        #content {
            width: 840px;
        }
    }

    @media only screen and (max-width: 880px) {
        #content {
            width: 680px;
        }
    }

    @media only screen and (max-width: 720px) {
        #content {
            width: 520px;
        }
    }

    @media only screen and (max-width: 550px) {
        #top-bar{
            height: 60px;
        }

        #content {
            width: 415px;
        }
    
        #logo-top-bar-area img{
            width: 6rem;
            margin: 0.3rem .6rem;
            border-right: .15rem solid #F8FAFB;
        }
    
        #get-trading-top-bar-area img{
            width: 5rem;
            margin-top: .5rem;
            margin-left: .2rem;
        }

        #header{
            margin: 60px auto 0;
        }
    }

    @media only screen and (max-width: 450px) {
        #content {
            width: 310px;
        }
    }