footer{
    width: 100%;
    float: left;
    padding-top: 30px;
    min-height: 50vh;
    color: #333;
    background-color: #F8FAFB;
}

#live-chat{
    position: fixed;
    z-index: 999;
    bottom: 9rem;
    right: 1.6rem;
    display: flex;
    box-shadow: rgb(0 0 0 / 5%) 0px 16px 20px 0px, rgb(0 0 0 / 5%) 0px 0px 20px 0px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    padding: 1.2rem;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box;
}

/* TODO: Change img 
#live-chat :hover{
    
} 
*/

#footer-area{
    padding: 20px 15px;
    max-width: 1000px;
    margin: auto;
}

.flex-container-main {
    width: 100%;
    padding: 0;
    display: block;
    justify-content: space-between;
}
.flex-container-derivlogo {
    padding: 50px 30px 30px 0;
    max-width: 40%;
    float: left;
}
.flex-container-socials {
    padding: 50px 30px 30px 0;
    max-width: 60%;
    float: right;
}
.flex-container-socials img{
    max-width: 40px;
    max-height: 40px;
}
.img-logo{
    max-width: 160px;
}
#disclaimer{
    width: 100%;
    float: left;
    line-height: 1.5em;
    border-top: 1px solid #ccc;
    margin-bottom: 4em;
    padding-bottom: 1em;
}
#disclaimer p, #disclaimer li{
    font-size: 0.85em;
    font-weight: 300;
    padding: 0.8em 0;
}
#disclaimer ul{
    list-style-type: none;
    padding-left: 25px;
    border-left: #f8a2a8 solid 5px;
    background-color: #eff2f5;
}

#fixed-p{
    background-color: #f9fafc;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    /* position: fixed; */
    bottom: 0px;
    box-shadow: inset 0 1px 0 0 #e5e5e5;
    z-index: 100;
    font-size: 0.85em;
    font-weight: 300;
    line-height: 1.5em;
}

#fixed-p-content{
    max-width: 1000px;
    margin: auto;
}

.h-line-100vw{
    height: 1px;
    width: 100%;
    margin-top: 20px;
    background-color: #ccc;
    position: absolute;
    left: 0;
}

#p-ps{
    bottom: 0;
    padding: 1.2em;
}

/* SETTINGS FOR RESOLUTIONS UNDER 1080PX */
@media only screen and (max-width: 1080px) {
    /*
    #disclaimer p, #disclaimer li{
        font-size: 0.75em;
        padding: 0.6em 0;
    }
    #disclaimer{
        line-height: 1.3em;
    }
    #fixed-p{
        font-size: 0.8em;
    }
    */
}

/* SETTING FOR RESOLUTIONS UNDER 780PX */
@media only screen and (max-width: 780px) {
    #disclaimer p, #disclaimer li{
        font-size: 0.85em;
        padding: 0.5em 0;
    }
    #disclaimer{
        line-height: 1.3em;
    }
    #fixed-p{
        font-size: 0.8em;
    }
}

/* SETTING FOR RESOLUTIONS UNDER 600PX */
@media only screen and (max-width: 600px) {
    footer{
        padding-top: 10px;
    }
    #footer-area{
        padding-top: 10px;
    }
    #disclaimer p, #disclaimer li{
        font-size: 0.8em;
        padding: 0.5em 0;
    }
    #disclaimer{
        line-height: 1.1em;
    }
    #fixed-p{
        font-size: 0.75em;
    }
    .flex-container-derivlogo {
        padding: 15px 10px 10px 0;
        max-width: 70%;
        float: left;
    }
    .flex-container-socials {
        padding: 10px 20px 20px 0;
        max-width: 70%;
        float: left;
    }
    .flex-container-socials img{
        max-width: 30px;
        max-height: 30px;
    }
    .img-logo{
        max-width: 100px;
    }
    #disclaimer ul{
        padding-left: 10px;
    }
}

/* SETTING FOR RESOLUTIONS UNDER 600PX */
@media only screen and (max-width: 450px) {
    #disclaimer p, #disclaimer li{
        font-size: 0.75em;
        padding: 0.4em 0;
    }
    #disclaimer{
        line-height: 1em;
    }
    #fixed-p{
        font-size: 0.7em;
    }
}