#section-3{
    width: 100%;
    min-height: 50vh;
    background-image: url("../img/bg-1.png");
    background-repeat: repeat;
    margin: auto;
    margin-top: 10vh;
    padding-bottom: 4vh;
    color: #333;
    display: block;
    float: left;
    z-index: 10;
}

#section-3 h3{
    padding: 2vh 2vw 0;
}

.grid-area{
    max-width: 1000px;
    margin: auto;
    margin-top: 8vh;
    line-height: 1.5em;
}

.grid-item-3{
    width: 30%;
    min-width: 240px;
    height: 22vh;
    background-color: white;
    margin: 0;
    margin-left: 1.5vw;
    border-radius: .8rem;
    box-shadow: rgb(14 14 14 / 10%) 0 .5rem 1rem 0;
    float: left;
}

.grid-item-3 p, .grid-item-3 .grid-title{
    padding: 0 1rem;
}

.grid-item-3 p{
    font-size: 1em;
    font-weight: 300;
}

.grid-title{
    width: 100%;
    height: 5rem;
}

.grid-title h5{
    width: 60%;
    float: left;
}

.grid-icon{
    width: 30%;
    float: right;
}

.grid-icon img{
    height: auto;
    margin-top: .8rem;
}

/* SETTINGS FOR RESOLUTIONS UNDER 1080PX */
@media only screen and (max-width: 1080px) {    
    .grid-item-3 p{
        font-size: 0.9em;
        font-weight: 300;
    }
}

/* SETTING FOR RESOLUTIONS UNDER 780PX */
@media only screen and (max-width: 780px) {
    .grid-area{
        margin-top: 5vh;
    }
    .grid-item-3{
        width: 50%;
        margin-left: 25%;
        margin-top: 3vh;
    }
}

/* SETTING FOR RESOLUTIONS UNDER 600PX */
@media only screen and (max-width: 600px) {
    #section-3{
        margin-top: 5vh;
    }
    #section-3 h3{
        padding: 1vh 2vh;
    }
    .grid-area{
        padding: 0 2vh;
    }
    .grid-item-3{
        width: 80%;
        margin-left: 10%;
        margin-top: 2vh;
        float: left;
    }
    .grid-item-3 p, .grid-item-3 .grid-title{
        /* font-size: 0.8em; */
        padding: 0 2vh;
    }
}