#section-2{
    width: 100%;
    min-height: 65vh;
    background-color: #fbfbfb;
    margin: auto;
    padding: 4rem 0;
    color: #333;
    display: block;
    float: left;
    z-index: 10;
}

#section-2 h3{
    padding: 0 1.5rem;
}

#tab-area{
    max-width: 1000px;
    margin: auto;
    padding: 2rem 1rem;
}

/* Style the tab */
.tab {
    border: 0;
    border-radius: .6rem 1.1rem 0 0;
    overflow: hidden;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: white;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: #fbfbfb;
    padding: 1.8rem;
    border: none;
    border-radius: .6rem 1.1rem 0 0;
    outline: none;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 800;
    transition: 0.5s;
    float: left;
  }

  .tab-cab-img{
    width: 2rem;
    float: left;
  }

  .tab-cab-img img{
    width: 100%;
  }

  .tab-cab-txt{
    max-width: 12rem;
    margin-left: 1rem;
    float: left;
  }

  /* Style the tab content */
  .tab-content {
    background-color: white;
    padding: 1rem 1.5rem 3rem 1rem;
    border: 0;
    box-shadow: 1rem 1rem 3rem #e5e5e5;
    display: none;
  }

  .tab-content p{
    padding: 1rem;
    text-align: center;
    font-size: 1em;
    line-height: 1.5em;
  }

.h-line{
    width: 100%;
    height: 1px;
    background-color: #eaeced;
    margin: 1.5rem auto;
}

.drop-down-asset{
    width: 100%;
    min-height: 3.5em;
    margin: auto;
    margin-top: 1.5rem;
    border: 1px solid #eaeced;
    border-radius: .8rem .8rem 0px 0px;
    display: block;
}

.dda-cel{
    height: 3.5em;
    margin: auto;
    text-align: center;
    float: left;
}

.dda-cel-icon{
    max-width: 2.6rem;
    height: 100%;
    float: left;
}

.dda-cel-icon img{
    max-height: 2.3rem;
    margin: .5rem;
}

.dda-cel-txt{
    max-height: 2rem;
    margin: 1.2rem;
    font-size: 1em;
}

.dda-cel p{
    font-size: 1em;
}

.dda-type{
    width: 20%;
    font-weight: 800;
    float: left;
}

.dda-item-1{
    width: 35%;
    border-left: 1px solid #eaeced;
}

.dda-item-2{
    width: 35%;
}

.dda-action{
    width: 5%;
    min-width: 3rem;
    border-left: 1px solid #eaeced;
    text-align: center;
    float: right;
}

.drop-down-asset button {
    width: 100%;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    float: none;
  }

.dd-arrow{
    max-width: 1.5rem;
    margin-top: 1em;
    transform: rotate(180deg);
}

.asset-description{
    width: 100%;
    background-color: #fbfbfb;
    padding: 2rem 0;
    border: 1px solid #eaeced;
    border-top: 0;
    border-radius: 0 0 .8rem .8rem;
    font-size: 0.9em;
    font-weight: 350;
    display: none;
}

.asset-description p{
    padding: 0 2rem;
    text-align: left;
    line-height: 1.5em;
}

/* SETTINGS FOR RESOLUTIONS UNDER 1080PX */
@media only screen and (max-width: 1080px) {
    .dda-type{
        margin-top: .6rem;
    }
    .tab-cab-img img{
        width: 100%;
        min-height: 2.2rem;
    }
    .tab-cab-txt{
        margin-top: .4rem;
    }
    .dda-cel-icon img{
        max-height: 2rem;
        margin: .7rem;
    }
    .dda-cel-txt{
        font-size: 0.9em;
    }
    .tab-content{
        padding: 1.5rem;
    }
    .tab-content p{
        padding: .4rem .8rem;
        font-size: 0.9em !important;
    }
    .tab button{
        padding: 1rem;
        font-size: 1.3em;
    }
}

/* SETTING FOR RESOLUTIONS UNDER 780PX */
@media only screen and (max-width: 780px) {
    .dda-type{
        margin-top: .2rem;
    }
    .tab-cab-img{
        width: 2rem;
    }
    .tab-cab-img img{
        height: 100%;
    }
    .tab-cab-txt{
        margin-top: .5rem;
    }
    .dda-cel-icon{
        max-width: 2.2rem;
        margin-right: 1rem;
    }
    .dda-cel-icon img{
        max-height: 2rem;
        margin: .6rem;
    }
    .dda-cel-txt{
        margin-top: 1rem;
        font-size: 0.8em;
    }
    .tab-content{
        padding: 1.2rem;
    }
    .tab-content p{
        padding: .3rem 1rem;
        font-size: 0.9em !important;
    }
    .tab button{
        padding: 1.1rem;
        font-size: 1.15em;
    }
}

/* SETTING FOR RESOLUTIONS UNDER 600PX */
@media only screen and (max-width: 600px) {
    #tab-area{
        padding-top: 4vh;
    }
    .tab button {
        padding: 1rem;
        font-size: 1.2em;
    }
    .dda-cel p{
        font-size: 0.8em;
    }
    .drop-down-asset{
        min-height: 100px;
    }
    .dda-type{
        width: 100%;
        height: 20px;
        padding-top: .6rem;
        padding-bottom: .6rem;
    }
    .dda-item-1{
        width: 45%;
    }
    .dda-item-2{
        width: 45%;
    }
    .dda-cel-icon{
        max-width: 30px;
        height: 40px;
    }
    .dda-cel-icon img{
        width: 90%;
    }
    .dda-cel-txt{
        font-size: 0.8em;
        text-align: left;
        padding: 0 !important;
    }
    .dda-action{
        min-width: 2rem;
        float: right;
    }
    .dd-arrow{
        max-width: 14px;
        margin: auto;
        margin-top: 1.2rem;
    }
    .tab-content{
        padding: .5rem;
    }
    .tab-content p{
        font-size: 0.9em;
    }
}

/* SETTING FOR RESOLUTIONS UNDER 480PX */
@media only screen and (max-width: 480px) {
    .tab button {
        padding: 1rem;
        font-size: 1.1em;
    }
    .tab-content p{
        font-size: 0.8em !important;
    }
    #tab-cfd h4{
        font-size: 1em;
        padding: 0;
    }
}
/* SETTING FOR RESOLUTIONS UNDER 480PX */
@media only screen and (max-width: 400px) {
    .dda-item-1{
        width: 46%;
    }
    .dda-item-2{
        width: 46%;
    }
    .dda-cel-txt{
        font-size: 0.7em;
    }
    .dda-action{
        min-width: 20px;
        float: right;
    }
}