/* ==== TOP BAR STYLES ==== */
    #top{
        width: 100vw;
        min-height: 75vh;
        background-color: #000;
        margin: auto;
        float: left;
        z-index: 10;
    }

    #top-bar{
        width: 100vw;
        max-height: 60px;
        background-color: #000;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }

    #logo-top-bar-area{
        width: 49%;
        padding: 1.2rem 0;
        text-align: right;
        float: left;
    }

    #logo-top-bar-area img{
        width: 10rem;
        padding-right: .6rem;
        border-right: .2rem solid #F8FAFB;
    }

    #get-trading-top-bar-area{
        width: 49%;
        padding: 1.2rem 0 0 0;
        text-align: left;
        float: left;
    }

    #get-trading-top-bar-area img{
        width: 9rem;
        margin-top: .3rem;
        padding-left: .6rem;
    }
/* ==== END OF TOP BAR STYLES ==== */

/* ==== HERO-SIGNUP STYLES: ==== */
    #video-div {
        max-width: 70vw;
        max-height: 80vh;
        position: absolute;
        left: -5vw;
        top: -13vh;
        z-index: 5;
    } 

    #video-background{
        width: 120%; 
        max-height: 80vh; 
        height: auto;
        left: 0;
    } 

     /* Hero styles: */
    #hero-signup{
        max-width: 1000px;
        margin: auto; 
        position: absolute; 
        left: 0; 
        right: 0; 
        float: left;
        z-index: 10;
    }
    #hero{
        max-width: 50%;
        color: #F8FAFB;
        float: left;
    }
    #hero h1{
        margin: auto;
        padding-right: 1.5rem;
    }
    #hero p{
        margin: 0 auto;
        padding-right: 1.5rem;
        text-align: center;
        font-size: 1.5em;
        line-height: 1.5em;
    }

    /* SignUp area styles: */
    #signup-area{
        width: 50%;
        max-height: 63vh;
        background: linear-gradient(to right, #600000 0%, #990000 100%);
        margin: 12vh 0 0 0;
        opacity: 0.8;
        color: #F8FAFB;
        border-radius: 1rem;
        float: left;
    }

    #signup-area-content{
        width: 90%;
        height: 100%;
        margin: auto;
    }

    #signup-area form{
        width: 100%;
        height: 100%;
        margin: auto;
        margin: 2.5vh 0;
    }

    #signup-area input[type=text]{
        width: 100%;
        height: 1.6em;
        margin: auto;
        margin-bottom: 2.5vh;
        border: 0;
        font-size: .9em;
    }

    #signup-area input[type=text]::placeholder{
        padding-left: 1rem;
    }

    /* Signup-area form styles: */
    #form-terms-checkbox{
        width: 100%;
        height: 1.8em;
    }

    #form-terms-checkbox label{
        padding-left: 1vw;
        padding-bottom: 3px;
    }

    #signup-area input[type=checkbox]{
        width: 1.3em;
        height: 1.3em;
        margin: 1vh 0 0 0;
        vertical-align: baseline;
        line-height: 1.3em;
    }

    #signup-btn{
        width: 80%;
        min-height: 2em;
        margin: 2vh 10%;
        padding: .4rem 0;
    }

    #signup-area h5{
        padding: 1.5vh 0 0 0;
        font-size: 1.2em;
        font-weight: 450;
    }

    #signup-area p{
        padding-top: 1vh;
        line-height: 1.3em;
        font-size: 0.85em;
        font-weight: 300;
    }

    #form-terms-checkbox label{
        line-height: 1.3em;
        font-size: 0.8em;
    }

    .form-info{
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: 1.3em;
        font-size: 0.7em;
        font-weight: 300;
    }
/* ==== END OF HERO-SIGNUP STYLES: ==== */

/* ==== SETTINGS FOR SCREEN MAX-WIDTH ==== */
    @media only screen and (max-width: 1080px) {
        #video-div {
            top: -2vh;
        }
        #video-background{
            max-height: 70vh;
        } 
        #hero p{
            font-size: 1.25em;
        }
        #hero{
            max-width: 1000px;
            margin: auto;
        }
        #hero h1{
            padding-bottom: 1vh;
            padding-top: 9vh;
        }
        #hero p{
            padding: 1.5vh 10vw;
            text-align: center;
        }
        #signup-area-content{
            width: 95%;
        }
        #signup-area{
            width: 84%;
            margin: 0 8%;
            max-height: 40vh;
        }
        #signup-area h5{
            padding: .8vh 0 .2vh 0;
            font-size: 1em;
        }
        #signup-area p{
            padding-top: .8vh;
            line-height: 1.2em;
            font-size: 0.8em;
        }
        #signup-area form{
            margin-top: 1vh;
        }
        #signup-area input[type=text]{
            height: 1.4em;
            margin-bottom: 1vh;
            font-size: .9em;
        }
        #signup-area input[type=checkbox]{
            width: 1em;
            height: 1em;
            margin: .5vh 0 0 0;
            line-height: 1em;
        }
    }
    @media only screen and (max-width: 780px) {
        h1{
            margin-top: 1vh;
            padding-bottom: .5vh;
        }
        #hero p{
            font-size: 1.1em;
        }
        #signup-area{
            max-height: 43vh;
        }
    }
    @media only screen and (max-width: 600px) {
        #hero p{
            font-size: 1em;
            padding: 2vh 1vw;
        }
        #video-div {
            top: 15vh;
            max-height: 50vh;
        }
        #video-background{
            max-height: 50vh;
        }
        #signup-area{
            max-height: 43vh;
        }
        #signup-btn{
            width: 80%;
        }
        #signup-btn{
            margin: .2vh 10%;
        }
    }
/* ==== END OF SETTINGS FOR SCREEN MAX-WIDTH ==== */

/* ==== SETTINGS FOR SCREEN MAX-HEIGHT ==== */
    @media only screen and (max-height: 750px) {
        #top{
            min-height: 80vh;
        }
        #signup-area{
            max-height: 70vh;
        }
    
    }
