/*  TOP BAR STYLES  */
    #top{
        background-color: #000;
        width: 100%;
        margin: auto;
        float: left;
        min-height: 70vh;
        z-index: 10;
    }

    #top-bar{
        background-color: #000;
        width: 100%;
        min-height: 70px;
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
    }

    #logo-top-bar-area{
        text-align: right;
        width: 49%;
        padding: 20px 0px;
        float: left;
        z-index: 20;
    }

    #logo-top-bar-area img{
        width: 160px;
        padding-right: 10px;
        border-right: 2px solid #F8FAFB;
    }

    #get-trading-top-bar-area{
        text-align: left;
        width: 49%;
        padding: 20px 0px;
        float: left;
    }

    #get-trading-top-bar-area img{
        padding-top: 4px;
        padding-left: 10px;
        width: 140px;
    }
/* ==== END OF TOP BAR STYLES ==== */

    #video-div {
        max-width: 70vw;
        max-height: 80vh;
        position: absolute;
        left: -50px;
        top: -100px;
        z-index: 5;
    } 

    #video-background{
        left: 0;
        width: 120%; 
        max-height: 80vh; 
        height: auto;
    } 

/* ==== HERO STYLES: ==== */
    #hero-signup{
        height: auto;
        position: absolute; 
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        max-width: 1000px;
        z-index: 30;
        float: left;
    }
    #hero{
        max-width: 65%;
        color: #F8FAFB;
        float: left;
    }
    #hero h1{
        margin: auto;
        padding-right: 10px;
    }
    #hero p{
        margin: 0 auto;
        padding-right: 10px;
        text-align: center;
        font-size: 1.5em;
        line-height: 1.5em;
    }

    /* SignUp area styles: */
    #signup-area{
        width: 30%;
        height: 40vh;
        float: left;
        background: linear-gradient(to right, #600000 0%, #990000 100%);
        opacity: 0.8;
        color: #F8FAFB;
        margin: 15vh 1vw;
        border-radius: 10px;
    }

    #signup-area form{
        width: 90%;
        height: 100%;
        margin: auto;
        margin-top: 30px;
    }

    #signup-area input{
        width: 100%;
        height: 2em;
        border: 0;
        margin: auto;
        margin-bottom: 30px;
    }

    #signup-btn{
       min-height: 3em;
    }

    @media only screen and (max-width: 1080px) {
        #video-div {
            top: -30px;
            max-height: 60vh;
        }
        #video-background{
            max-height: 60vh;
        } 
        #hero p{
            font-size: 1.25em;
        }
        #hero{
            max-width: 1000px;
            margin: auto;
        }
        #hero h1{
            padding-top: 10vh;
        }
        #hero p{
            padding: 3vh 10vw;
            text-align: center;
        }

        #signup-area{
            width: 60%;
            margin: 2vh 20%;
            max-height: 30vh;
        }
        #signup-area h3{
            padding-top: 3vh;
        }
        #signup-area form{
            margin-top: 1vh;
        }
    }
    @media only screen and (max-width: 780px) {
        #hero p{
            font-size: 1.1em;
        }
    }
    @media only screen and (max-width: 600px) {
        #hero p{
            font-size: 1em;
            padding: 25px 50px;
        }
        #video-div {
            top: 50px;
            max-height: 50vh;
        }
        #video-background{
            max-height: 50vh;
        }
        #signup-area{
            width: 80%;
            margin: 2vh 10%;
            max-height: 25vh;
        }
    }
/* ==== END OF HERO STYLES ==== */