<!-- ==== REMOVED: ==== -->
    <meta name="supported-color-schemes" content="light dark">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <style>
        /* iOS BLUE LINKS */
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }
        img {
            -ms-interpolation-mode: bicubic;
        }
        /* ANDROID CENTER FIX */
        div[style*="margin: 16px 0;"] {
            margin: 0 !important;
        }
        a.button-secondary {
            text-decoration: none;
            text-align: center;
            line-height: 20px;
            padding: 8px 14px;
            display: inline-block;
            font-weight: bold;
            font-family: 'IBM Plex Sans', Arial, sans-serif; 
            font-size: 14px;
            border-radius: 4px;
            overflow: visible;
            border: 0;
            color: #ffffff;
            border: 2px solid #ffffff;
            background: transparent;
        }
        h1 {
            font-family: 'IBM Plex Sans', Arial, sans-serif;
            font-size: 48px;
            line-height: 60px;
            font-weight: bold;
            margin: 0;
        }
        h2 {
            font-size: 32px;
            line-height: 40px;
            margin: 0;
        }
        @media screen and (max-width: 590px)  {
            .button, .button-secondary {
                margin: 5px 0 !important;
            }
        }
        @media screen and (max-width: 620px) {
            .max-width {
                max-width: 100% !important;
            }
            .img-max {
                width: 100% !important;
                max-width: 100% !important;
                height: auto !important;
            }
            .mobile-wrapper {
                width: 100% !important;
                max-width: 100% !important;
            }
            .mobile-side2 {
                padding-right: 25px !important;
                padding-left: 25px !important;
            }
            .mobile-negmargin {
                margin-top: -15px !important;
            }
            .mobile-center {
                text-align:center !important;
            }
            .mobile-unvisible {
                display: none!important;
            }
            .mobile-bgcolor-gray {
                background-color: #eeeeee !important;
            }
            .mb-bg-lightgray{
                background-color: #f5f7fa !important; 
            }
            .mb-padding-top{
                padding-top: 30px !important;
            }
            .mobile-low-top-padding {
                padding-top: 1px !important;
            }
        }
        @media (prefers-color-scheme: dark) {
            .dark-img {
                width: auto !important;
                max-width: inherit !important;
                max-height: inherit !important;
                margin-top: 0px !important;
                line-height: auto !important;
                display: block !important;
                float: none !important;
                overflow: visible !important;
                visibility: inherit !important;
            }
            .darkcolor-white{ color: #ffffff !important; }
            .darkborder{ border-color: #6e6e6e !important; }
            .darkmode-button-white { filter: invert(25%); }
        }
        [data-ogsc] .darkcolor-white{ color: #ffffff !important; }
        [data-ogsc] .darkborder{ border-color: #6e6e6e !important; }
    </style>

<!-- ==== END OF REMOVED ==== -->
<!-- ==== CHANGED: ==== -->
    <style>
        table {
            /* Moved to: table, td { } */
            border-collapse: collapse !important; 
        }
        body {
            /* Moved to: * { } */
            font-family: 'IBM Plex Sans', Arial, sans-serif;
        }
    </style>
<!-- ==== END OF CHANGED ==== -->


