            <!-- FOOTER -->
            <tr>
                <td align="center" class="mb-no-padding">
                    <!--[if (gte mso 9)|(IE)]>
                        <table id="ol-footer-table" align="center">
                    <![endif]-->
                    <table id="footer-table" class="dark-black">
                        <!-- SOCIAL -->
                        <tr>
                            <td id="footer-social-td" align="center" class="dark-black">
                                <a href="https://twitter.com/derivdotcom">
                                    <img src="https://static.deriv.com/email/images/icons/twitter.png" alt="Deriv.com on Twitter" title="Deriv.com on Twitter"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.facebook.com/derivdotcom">
                                    <img src="https://static.deriv.com/email/images/icons/facebook.png" alt="Deriv.com on Facebook" title="Deriv.com on Facebook"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.instagram.com/deriv_official/">
                                    <img src="https://static.deriv.com/email/images/icons/instagram.png" alt="Deriv.com on Instagram" title="Deriv.com on Instagram"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://t.me/derivdotcomofficial">
                                    <img src="https://static.deriv.com/email/images/icons/telegram.png" alt="Deriv.com on Telegram" title="Deriv.com on Telegram"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.youtube.com/c/Derivdotcom">
                                    <img src="https://static.deriv.com/email/images/icons/youtube.png" alt="Deriv.com on Youtube" title="Deriv.com on Youtube"/>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td id="footer-links-td" align="center" class="dark-black">
                                <p><a href="https://deriv.com/id/help-centre/">Pusat Bantuan</a>&nbsp;&nbsp;&nbsp;<span class="dark-gray">|</span>&nbsp;&nbsp;&nbsp;<a href="https://deriv.com/id/terms-and-conditions/#clients">Syarat dan ketentuan</a>&nbsp;&nbsp;&nbsp;<span class="dark-gray">|</span>&nbsp;&nbsp;&nbsp;<a href="https://deriv.com/tnc/security-and-privacy.pdf">Keamanan & privasi</a></p>
                                <p id="unsubscribe-p" class="dark-gray dark-subtext">Tidak ingin menerima email ini lagi? <a href="https://app.deriv.com/account/personal-details">Berhenti berlangganan</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td id="f-logo" align="center" class="dark-black">
                                <a href="https://www.deriv.com">
                                    <img src="https://static.deriv.com/logos/deriv-gray.png" alt="Deriv.com">
                                </a>
                            </td>
                        </tr>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                        </td></tr></table>
                    <![endif]-->
                </td>
            </tr>